body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
  font-family: "VT323", monospace;  
  font-size: 40px;
  letter-spacing: 2px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.battlefield {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.card img {
    width: 100px;
    height: 100px;
}

.card-value {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(239, 10, 10);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}


a {
    text-decoration: none;
}